@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../variables";
.users {
  padding: 74px 0;
  background: $secondary-bg;

  @include media-breakpoint-only(md) {
    padding-top: 114px;
  }

  h1 {
    margin-bottom: 10px;

    @include media-breakpoint-only(md) {
      margin-bottom: 16px;
    }
  }

  &-list {
    margin-top: 37px;

    @include media-breakpoint-only(md) {
      margin-top: 75px;
    }

    &-item {
      text-align: center;
      margin-bottom: 35px;
    }
  }

  button.btn-cta {
    padding: 6px 62px;

    @include media-breakpoint-only(md) {
      margin-bottom: 45px;
    }
  }
}

.user-avatar {
  border-radius: 25%;
  margin-bottom: 12px;
}

.user-name {
  margin-bottom: 10px;
  padding: 0 50px;

  @include media-breakpoint-only(md) {
    padding: 0;
  }
}

.user-info {
  padding: 0 65px;

  @include media-breakpoint-only(md) {
    padding: 0;
  }
  &>p {
    margin-bottom: 0;
  }

  .user-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}