@import "../../variables";

.btn-cta {
  padding: 6px 58px;
  background: #ef5b4c;
  color: #fff;

  &:hover {
    color: #fff;
    background: #d24335;
  }
}

h1 {
  font-size: 30px;
  line-height: 34px;
  width: 100%;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

p {
  font-size: 1rem;
  line-height: 24px;
}