@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../variables";

.btn-cta {
  padding: 6px 58px;
  background: #ef5b4c;
  color: #fff;

  &:hover {
    color: #fff;
    background: #d24335;
  }

  &:disabled {
    background: #d7d7d7;
    color: #939292;
  }
}

h1 {
  font-size: 30px;
  line-height: 34px;
  width: 100%;

  @include media-breakpoint-only(md) {
    font-size: 40px;
    line-height: 44px;
  }

  @include  media-breakpoint-only(lg) {
    font-size: 50px;
    line-height: 54px;
  }
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

p {
  color: #4c4b4b;
  font-size: 1rem;
  line-height: 24px;
}