@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.navbar {
  padding: 0 0.9375rem 1px;
  background: #fff;
  
  @include media-breakpoint-up(md) {
    padding: 11px 24px 11px 30px;
  }
}

.navbar-toggler {
  padding-right: 0.1rem;
  padding-top: 0.1rem;
  outline: none;
}

.navbar-brand {
  padding-top: 0.2rem;
}