@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.navbar {
  padding: 0 0.9375rem 1px;
  background: #fff;
  
  @include media-breakpoint-only(md) {
    padding: 11px 24px 11px 30px;
  }

  @include media-breakpoint-up(lg) {
    padding: 11px 0;
  }
}

.navbar-toggler {
  padding-right: 0.1rem;
  padding-top: 0.1rem;
  outline: none;
}

.navbar-brand {
  padding-top: 0.2rem;
}

.navbar-nav {
  .nav-item {

    &.active {
      .nav-link {
        color: #007bff;
      }
    }
    .nav-link {
      font-size: 14px;
      color: #212529;

      @include  media-breakpoint-up(lg) {
        padding: 0 0 0 29px;
      }

      &:hover {
        color: #ef5b4c;
      }
    }
  }
}