@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.jumbotron-banner {
  background-image: url("./assets/banner-photo.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  border-radius: 0;
  padding: 70px 0;
  margin-top: 39.9px;

  @include media-breakpoint-only(md) {
    padding-bottom: 65px;
  }

  @include media-breakpoint-up(lg) {
    padding: 120px 0;
    margin-bottom: 80px;
  }

  h1 {
    font-weight: 400;
    padding: 0 5px;
    text-transform: uppercase;
    margin-bottom: 18px;

    @include media-breakpoint-only(md) {
      margin-bottom: 28px;
      padding-right: 40px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 25px;
      padding-right: 90px;
    }
  }

  p {
    color: #e1e1e1;
    line-height: 24px;
    margin-bottom: 23px;

    @include media-breakpoint-only(md) {
      margin-bottom: 33px;
    }

    @include media-breakpoint-up(lg) {
      padding-right: 100px;
      margin-bottom: 33px;
    }
  }

  a.btn {
    margin-bottom: 5px;

    @include media-breakpoint-only(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: -6px;
    }
  }
}