.jumbotron-banner {
  background-image: url("./assets/banner-photo.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  border-radius: 0;
  padding: 70px 0;
  margin-top: 39.9px;

  h1 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    padding: 0 5px;
    text-transform: uppercase;
    margin-bottom: 19px;
  }

  p {
    color: #e1e1e1;
    line-height: 24px;
    margin-bottom: 23px;
  }

  a.btn {
    margin-bottom: 5px;
  }
}